.home {
    width: 100% !important;
    height: 100vh !important;
    background-color:blanchedalmond !important;
}

.container {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
}

.input-filter {
    width: 20% !important;
    padding: 5px !important;
    border: 2px solid black !important;
    border-radius: 20px !important;
}

.input-filter:focus {
    outline: none !important;
}

.input-add-user {
    padding: 10px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    box-shadow: 0px 0px 6px rgb(0, 0, 0, 25%) !important;
}